.con{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    margin-top: 2.5rem;
}

.info{
    display: flex;
    flex-direction: column;
    min-height: 21.5rem;
    width: 80%;
    min-width: 40rem;
    border-radius: 1rem;
    padding: 1.5rem;
    background-color: #F9F9F9;
    box-shadow: 0 0.5rem 1rem 0.1rem rgb(0, 0, 0, 0.15);
}

.ul{
    margin-top: 0.8rem;
    color: rgb(88, 88, 88);
    font-size: 0.86rem;
    margin-right: 1.2rem;
    margin-left: 0.5rem;
}

.checkbox{
    border: unset !important;
    width: 28rem;
    font-weight: 700;
    font-size: 0.86rem;
    padding-right: 0;
}

.wrapper2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.8rem;
    width: 100%;
}

.next_btn{
    width: 12rem;
    height: 2.6rem;
    margin: 0;
    margin-bottom: 1.8rem;
}