.con{
    display: flex;
    width: 100%;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
}

.secure_sec,
.not_secure_sec{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    width: 16rem;
    height: 22rem;
    background-color: #3A3A3A;
    margin-left: 4.5rem;
    transition: ease 200ms;
    cursor: pointer;
    user-select: none;
    box-shadow: 0 0.5rem 1rem 0.1rem rgb(0, 0, 0, 0.15);
}

.secure_sec:hover,
.not_secure_sec:hover{
    transform: scale(1.05);
}

.not_secure_sec{
    background-color: #939597;
    margin-right: 4.5rem;
    margin-left: unset;
}

.icon{
    height: 3rem;
    margin-top: 1rem;
}

.title{
    font-size: 0.86rem;
    color: white;
    margin-top: 0.5rem;
}

.info_con{
    display: flex;
    background-color: #F9F9F9;
    border-radius: 1rem;
    padding: 1.2rem;
    font-size: 0.86rem;
    height: 11rem;
    width: 140%;
    margin-top: 1rem;
    box-shadow: 0 0.5rem 1rem 0.1rem rgb(0, 0, 0, 0.15);
}

.select{
    height: 2.5rem;
    width: 2.5rem;
    margin-top: 0.8rem;
}

.unselected{
    border: solid 0.2rem #FBAD16;
    border-radius: 0.6rem;
    height: 2.1rem;
    width: 2.1rem;
    margin-top: 0.98rem;
}

.wrapper2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.8rem;
    width: 100%;
}

.next_btn{
    width: 12rem;
    height: 2.6rem;
    margin: 0;
}