.con{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.wrapper{
    display: flex;
    width: 40%;
    min-width: 32rem;
    direction: rtl;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.5rem;
    user-select: none;
}

.step_con{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 0.8rem;
    font-size: 0.7rem;
    z-index: 2;
    color: white;
    background-color: #939597;
    box-shadow: 0 0.2rem 0.5rem 0.05rem rgba(0, 0, 0, 0.15);
}

.step_con_active{
    width: 3.2rem;
    height: 3.2rem;
    background-color: #F5DF4D;
    border-radius: 1rem;
    font-weight: 700;
    font-size: 0.9rem;
    color: rgb(59, 59, 59);
}

.prg_line{
    position: absolute;
    height: 0.2rem;
    width: 50%;
    min-width: 10.5rem;
    z-index: 0;
    right: 0;
    background-color: #939597;
}
.prg_line2{
    right: 50%;
}

.prg_line_active{
    background-color: #F5DF4D;
}

@media(max-width:768px){

    .wrapper{
        width: 80%;
        min-width: 18rem;
        margin-top: 1.5rem;
    }

    .prg_line{
        width: 20vw;
        min-width: 4.5rem;
    }

    .prg_line4{
        width: 24%;
    }
}