.crs_info_con{
    display: flex;
    margin-top: 1rem;
    font-size: 0.9rem;
    width: calc(100% - 20rem);
    color: #7a7a7a;
    padding-top: 1rem;
    padding-bottom: 2rem;
    padding-right: 4rem;
    padding-left: 2.5rem;
    border-radius: 1rem 0 0 1rem;
    background-color: #F9F9F9;
    box-shadow: 0 0.5rem 1rem 0.1rem rgb(0, 0, 0, 0.15);
    min-height: 10rem;
    overflow: hidden;
}

.crs_info_icn{
    height: 1.5rem;
    width: 1.5rem;
    margin-left: 1rem;
}

.crs_txt_icn{
    direction: rtl;
    overflow: hidden;
    transition: linear 500ms;
}

.crs_txt_icn2{
    position: absolute;
    direction: rtl;
    right: 6.5rem;

    height: 7rem;
    padding-left: 2.5rem;
    overflow: hidden;
    transition: linear 500ms;
    pointer-events: none;
}