.srtbar{
    display: flex;
    background-color: white;
    border-radius: 1rem;
    padding: 0.4rem 1rem;
    align-items: center;
    margin-left: 2vw;
    margin-top: 0.5rem;
}

.title{
    margin-left: 1rem;
}

.btn{
    color: rgb(44, 44, 44);
    border-radius: 1rem;
    padding: 0.3rem 1rem;

}

.selected_btn{
    background-color: #F5DF4D;
}