.modalay_con{
    width: 100%;
    height: 100%;
}

.backdrop{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    z-index: 2;
    backdrop-filter: blur(3px);
}