.search_section_con{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 26rem;
    width: 92%;
    border-radius: 0 0 1rem 1rem;
    background-color: rgb(252, 252, 252);
    box-shadow: 0 0.5rem 1rem 0.1rem rgb(0, 0, 0, 0.15);
}

.newest_courses_sec{
    width: 100%;
    margin-top: 4rem;
    background-color: rgb(252, 252, 252);
    box-shadow: 0 0.5rem 1rem 0.1rem rgb(0, 0, 0, 0.15);
}

.about_signup_sec{
    min-height: 22rem;
    width: 92%;
    margin-top: 6rem;
    border-radius: 1rem;
    background-color: rgb(252, 252, 252);
    box-shadow: 0 0.5rem 1rem 0.1rem rgb(0, 0, 0, 0.15);
}

.top_seller_sec{
    height: 50rem;
    width: 100%;
    margin-top: 2rem;
    overflow: hidden;
}

.join_as_teacher_sec{
    min-height: 22rem;
    width: 94%;
    margin-right: 6%;
    margin-top: 2rem;
    border-radius: 0 1rem 1rem 0;
    background-color: rgb(252, 252, 252);
    box-shadow: 0 0.5rem 1rem 0.1rem rgb(0, 0, 0, 0.15);
}

.free_courses_sec{
    height: 50rem;
    width: 100%;
    margin-top: 2rem;
    overflow: hidden;
}

.about_us_sec{
    min-height: 24rem;
    width: 94%;
    padding-bottom: 3rem;
    margin-left: 6%;
    margin-top: 3rem;
    border-radius: 1rem 0 0 1rem;
    background-color: rgb(252, 252, 252);
    box-shadow: 0 0.5rem 1rem 0.1rem rgb(0, 0, 0, 0.15);
}

.footer_sec{
    height: 26rem;
    width: calc(100% - 6rem);
    margin-top: 6rem;
    border-radius: 1rem 1rem 0 0;
    background-color: #FFF;
}